@* Partial view to Get all vacation periods of a NEW VACATION REQUEST*@

@model IEnumerable<PES.Models.Holiday>

<!-- TABLE TO HOLIDAYS -->
@*<div id="datesGroups">
    <div id="datesGroup" class="form-group">
                <div class="col-md-3 pull-right">*@
                    
                    <table id="holidayTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Celebration</th> 
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var holiday in Model)
                            {
                                <tr>
                                    <td >@holiday.Day.Date.ToString("dd MMM yyyy") </td>
                                    <td >@holiday.Description</td>
                                </tr>
                            }
                        </tbody>         
                    </table>
                @*</div>
        </div>
    </div>*@

<!-- form-group end -->
