@{

}

@Styles.Render("~/Content/css/historical-resource.css")
<div class="row text-center">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
    </div>
    <hr />
    <div class="col-md-12">
        <p>Vacation List</p>
    </div>
</div>
<div class="well">
    <ul class="nav nav-tabs">
        <li class="active" id="pending-tab"><a data-toggle="tab" href="#pending" class="pending-tab">Pending</a></li>
        <li id="rejected-tab"><a data-toggle="tab" href="#rejected" class="rejected-tab">Rejected</a></li>
        <li id="approved-tab"><a data-toggle="tab" href="#approved" class="approved-tab">Approved</a></li>
        <li id="canceled-tab"><a data-toggle="tab" href="#canceled" class="canceled-tab">Canceled</a></li>
    </ul>

    <div class="tab-content">
        <div id="pending" class="tab-pane fade in active">
            <h3>Pending</h3>
            <p>pending tab</p>
        </div>
        <div id="rejected" class="tab-pane fade">
            <h3>Rejected</h3>
            <p>rejected tab</p>
        </div>
        <div id="approved" class="tab-pane fade">
            <h3>Aproved</h3>
            <p>aproved tab</p>
        </div>
        <div id="canceled" class="tab-pane fade">
            <h3>Canceled</h3>
            <p>Canceled tab</p>
        </div>
    </div>
    
</div>
<a href="@Url.Action("About","Home")" class="btn btn-lg btn-primary">New Request</a>

