@Styles.Render("~/Content/css/vacations-request-resource.css")
<div>
    <section>
        <header>
            <h1 class="col-md-4">@ViewBag.Title</h1>
            <p>Vacation Request</p>
        </header>
        <form class="form-inline">
            <div class="form-group">
                <label for="title">Request Title</label>
                <input type="text" class="form-control" data-val="true" data-val-required="Title is required" id="title" name="title">
                <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="lead">Lead Name</label>
                <input type="text" class="form-control" data-val="true" data-val-required="Lead name is required" id="lead" name="lead">
                <span class="field-validation-valid text-danger" data-valmsg-for="lead" data-valmsg-replace="true"></span>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="daysLeft">Vacation Days</label>
            </div>
            <div class="form-group">
                <label for="daysUsed">Days Used</label>
            </div>
            <div class="form-group">
                <label for="unpaid">
                    <input type="checkbox" class="form-control" id="unpaid" name="unpaid">
                    I do not have a project
                </label>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="start">Start Date</label>
                <input type="date" class="form-control" data-val="true" data-val-required="Start date is required" id="start" name="start">
                <span class="field-validation-valid text-danger" data-valmsg-for="start" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="end">End Date</label>
                <input type="date" class="form-control" data-val="true" data-val-required="End date is required" id="end" name="end">
                <span class="field-validation-valid text-danger" data-valmsg-for="end" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="lead">Return Date</label>
                <input type="date" class="form-control" id="lead" name="lead">
            </div>
        </form>

        <span class="label label-warning">All vacations days must be in the same month</span>
        <div class="form-group">
            <label for="comments">Comments:</label>
            <textarea class="form-control" rows="5" id="comments" placeholder="Add a comment or attach lead's approval"></textarea>
            <a href="@Url.Action("HistoricalResource","VacatiosRequest")" class="btn btn-lg btn-primary">Send Request</a>
        </div>
    </section>
</div>
