@{ 

}
<div class="row text-center">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
    <hr />
    <div class="col-md-12">
        <h3>Vacation Request</h3>
    </div>
</div>
<div>
    <input class="datefield" type="datepicker" />
   <a href="@Url.Action("HistoricalResource","VacationRequest")" class="btn btn-lg btn-primary">Send Request</a>
</div>

<script type="text/javascript">
    $('.dateflied').datepicker({
        startView: 1
    });
</script>
