#pending-tab {
    background-color: #FFFF66;
}

.pending-tab {
    color:black;
}

#rejected-tab {
    background-color: lightcoral;
}

.rejected-tab {
    color:black;
}

#approved-tab {
    background-color: lightgreen;
}

.approved-tab {
    color:black;
}

#canceled-tab {
    background-color: lightgray;
}

.canceled-tab {
    color:black;
}

.nav-tabs > li > a {
    margin-right:0;
}