#pending-tab {
    background-color: #FFFF66;
}

.pending-tab {
    color:black;
}

#rejected-tab {
    background-color: lightcoral;
}

.rejected-tab {
    color:black;
}

#approved-tab {
    background-color: lightgreen;
}

.approved-tab {
    color:black;
}

#canceled-tab {
    background-color: lightgray;
}

.canceled-tab {
    color:black;
}

.nav-tabs > li > a {
    margin-right:0;
}

.ContenedorColorVerde {
    height: 25px;
    width: 25px;
    background-color: #baffc9;
    border: 1px solid black;
    margin-bottom: 30px;
}

.TextoColorVerde{
    margin-left: -150px;
}

.ContenedorColorNaranja {
    height: 25px;
    width: 25px;
    background-color: #ffdfba;
    border: 1px solid black;
    margin-bottom: 30px;
}

.ContenedorColorAzul {
    height: 25px;
    width: 25px;
    background-color: #7AD8DB;
    border: 1px solid black;
    margin-bottom: 30px;
}
.unpaid-color {
    background-color: #BBF40A
}

.ContenedorColorRojo {
    height: 25px;
    width: 25px;
    background-color: #F08080;
    border: 1px solid black;
    margin-bottom: 30px;
}