#pending-tab {
    background-color: yellow;
}

.pending-tab {
    color:black;
}

#rejected-tab {
    background-color: red;
}

.rejected-tab {
    color:black;
}

#approved-tab {
    background-color: green;
}

.approved-tab {
    color:black;
}

#canceled-tab {
    background-color: gray;
}

.canceled-tab {
    color:black;
}

.nav-tabs > li > a {
    margin-right:0;
}