tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 height:285px;              
 display: -moz-groupbox;   
}

tbody{
  overflow-y: scroll;      
  height: 270px;           
  width: 91%;
  position: absolute;
}
