.vcenter {
  vertical-align: middle;
}

#reqStatus {
    vertical-align: middle;
    min-height: 100%;
}

#vacationarea {
    padding-right: 0px;
    padding-left: 0px;
}

#requestarea {
    padding-left: 0px;
}

#checkarea {
    padding-top: 0px;
    padding-left: 15px;
}

#checktext {
    font-weight: bold;
}

.child-right {
    background:green;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}