#reqStatus {
    vertical-align: middle;
    min-height: 100%;
}

#vacationarea {
    padding-right: 0px;
    padding-left: 0px;
}

#requestarea {
    padding-left: 0px;
}

#checktext {
    font-weight: bold;
}

#checkarea {
    padding-top: 0px;
    padding-left: 15px;
}

.flexEnd {
    display: flex;
    align-items:flex-end;
}
