@{
    ViewBag.Title = "Period";
}
<p class="text-right">
    <a href="@Url.Action("Login", "PerformanceEvaluation")">Logout</a>
</p>
<div>
    <h2 class="text-center col-md-12">Performance Evaluation System</h2>
    <h3 class="text-center" id="ResourceName">Resource Name</h3>
</div>

<div>
    <br />
    <div>
        <table border="1" width="100" class="table table-striped">
            <tr>
                <th id="Header_Period">Period</th>
                <th id="Header_Score">Score</th>
            </tr>
            <tr>
                <td>Period 1</td>
                <td>Score 1</td>
            </tr>
            <tr>
                <td>Period 2</td>
                <td>Score 1</td>
            </tr>
            <tr>
                <td>Period 3</td>
                <td>Score 1</td>
            </tr>
            <tr>
                <td>Period 4</td>
                <td>Score 1</td>
            </tr>
        </table>
    </div>
</div>