@{
    ViewBag.Title = "Performance Evaluation System";
}

<hr />
<div class="well">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Performance Evaluation System</h2>
        </div>
        <hr />
        <div class="col-md-12">
            <p>Please choose an option</p>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-6">
            <a href="@Url.Action("SearchInformation", "PerformanceEvaluation")" class="btn btn-lg btn-primary">Performance Files</a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("UploadFile", "PerformanceEvaluation")" class="btn btn-lg btn-primary">Upload Performance File</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-pull-6">
            <a href="@Url.Action("ViewEmployees","Employee")" class="btn btn-lg btn-primary">User Administration</a>
        </div>
        <div>
            <a href="@Url.Action("HistoricalResource","VacationRequest")" class="btn btn-lg btn-primary">Vacation Requests</a>
        </div>
    </div>
</div>

