@{
    ViewBag.Title = "Performance Evaluation System";
}

<div class="jumbotron">
    <p class="text-right">
        <a href="@Url.Action("Login", "PerformanceEvaluation")">Logout</a>
    </p>

    <div>
        <h2 class="text-center col-md-12">Performance Evaluation System</h2>
        <p class="text-left col-md-8">Resource name</p>
        <p class="text-right col-md-4">Period</p>
    </div>

    <div>
        <table border="1" width="100" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-lg-1" id="Header_Title">Title</th>
                    <th class="col-lg-1" id="Header_Subtitle">Subtitle</th>
                    <th class="col-lg-4" id="Header_Description">Description</th>
                    <th class="col-lg-1" id="Header_SelfAssessment">Self Assessment</th>
                    <th class="col-lg-1" id="Header_Evaluator">Evaluator</th>
                    <th class="col-lg-3" id="Header_Comment">Comment</th>
                    <th class="col-lg-1" id="Header_Calculation">Calculation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>Subtitle</td>
                    <td>Description</td>
                    <td>Score</td>
                    <td>Score</td>
                    <td>Comment</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Description</td>
                    <td>Score</td>
                    <td>Score</td>
                    <td>Comment</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Subtitle</td>
                    <td>Description</td>
                    <td>Score</td>
                    <td>Score</td>
                    <td>Comment</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Description</td>
                    <td>Score</td>
                    <td>Score</td>
                    <td>Comment</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>Subtitle</td>
                    <td>Description</td>
                    <td>Score</td>
                    <td>Score</td>
                    <td>Comment</td>
                    <td>Score</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p class="text-left">Comments</p>
            <table border="1" width="100" class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-lg-3" id="Header_AboutTranningEmployee">About Trainning Employee</th>
                        <th class="col-lg-3" id="Header_AboutTranningEvlauator">About Trainning Evaluator</th>
                        <th class="col-lg-2" id="Header_SpecialAcknowledge">Special Acknowledge</th>
                        <th class="col-lg-2" id="Header_CommentsRecommendationsEmployee">Other Comments or Recommendations Employee</th>
                        <th class="col-lg-2" id="Header_CommentsRecommendationsEvaluator">Other Comments or Recommendations Evaluator</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Comment</td>
                        <td>Comment</td>
                        <td>Comment</td>
                        <td>Comment</td>
                        <td>Comment</td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td>Comment</td>
                        <td>Comment</td>
                        <td>Comment</td>
                        <td>Comment</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p class="text-left">Leading/Mentoring Skills</p>
            <table border="1" width="100" class="table table-striped">
                <thead>
                <tr>
                    <th class="col-lg-3" id="Header_Skills">Skills</th>
                    <th class="col-lg-3" id="Header_SelfAssessmentSkills">Self Assessment</th>
                    <th class="col-lg-2" id="Header_EvaluatorSkills">Evaluator</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Skill</td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Skill</td>
                        <td></td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>Skill</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>Skill</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>