

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_PerformanceMainPartial", null)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_SectionsPartial", null)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_CommentsPartial", null)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_SkillsPartial", null)
    </div>
</div>
