@model IEnumerable<PES.Models.EmployeeManagerViewModel>
@using PES.Models 
@{
    ViewBag.Title = "Search Information";

    var currentUser = new PES.Models.Employee()
    {
        EmployeeId = 0,
        Email = "victor.leon@hotmail.com",
        ManagerId = 0,
        ProfileId = 3
    };
}


<table border="1" width="100" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Employee</th>
            @if (currentUser.ProfileId == (int)ProfileUser.Director)
            {
                <th>Manager</th>
}
        </tr>
    </thead>
    <tbody> 
        @foreach (var employeeM in Model)
        {
            <tr>
                <td>@employeeM.employee.EmployeeId</td>
                <td><a href="~/PerformanceEvaluation/ChoosePeriod">@(employeeM.employee.FirstName + " " + employeeM.employee.LastName)</a></td>
                @if (currentUser.ProfileId == (int)ProfileUser.Director)
                {
                    <td>@(employeeM.manager.FirstName + " " + employeeM.manager.LastName)</td>
                }
            </tr>
        }        
    </tbody>
</table>

@*<p class="text-right">
    <a href="@Url.Action("Login", "PerformanceEvaluation")">Logout</a>
</p>
<div>
    <h2 class="text-center">Search Information</h2>
</div>

<div>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="SearchName" placeholder="Search Name" />
        </div>
        <input type="button" class="btn btn-default" value="Search" />
    </form>
    <br />
    <div>
        <table border="1" width="100" class="table">
            <tr>
                <th id="Header_Id">Id</th>
                <th id="Header_Data">Employee</th>     
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name1</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name2</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name3</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name4</th>
            </tr>
        </table>
    </div>
</div>*@




