
@{
    ViewBag.Title = "Search Information";
}
<p class="text-right">
    <a href="@Url.Action("Login", "PerformanceEvaluation")">Logout</a>
</p>
<div>
    <h2 class="text-center col-md-12">Performance Evaluation System</h2>
</div>

<div>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="SearchName" placeholder="Search Name" />
        </div>
        <input type="button" class="btn btn-default" value="Search" />
    </form>
    <br />
    <div>
        <table border="1" width="100" class="table table-striped">
            <tr>
                <th id="Header_Id">Id</th>
                <th id="Header_Data">Employee</th>     
            </tr>
            <tr>
                <td>1</td>
                <td>Employee_Name1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Employee_Name2</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Employee_Name3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Employee_Name4</td>
            </tr>
        </table>
    </div>
</div>




