
@{
    ViewBag.Title = "Search Information";
}
<p class="text-right">
   <!-- <a href="////Url.Action("Login", "PerformanceEvaluation")">Logout</a>-->
    <a href="@Url.Action("Logout","LoginUser")">Logout</a>
</p>
<div>
    <h2 class="text-center">Search Information</h2>
</div>

<div>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="SearchName" placeholder="Search Name" />
        </div>
        <input type="button" class="btn btn-default" value="Search" />
    </form>
    <br />
    <div>
        <table border="1" width="100" class="table">
            <tr>
                <th id="Header_Id">Id</th>
                <th id="Header_Data">Employee</th>     
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name1</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name2</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name3</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Employee_Name4</th>
            </tr>
        </table>
    </div>
</div>




