@{
    ViewBag.Title = "Lateness Reports";
}
<br /><br />

<h3 class="text-center">LATENESS REPORT</h3>
<label class="radio-inline"><input type="radio" name="period" value="today" checked>Today</label>
<label class="radio-inline"><input type="radio" name="period" value="week">Week</label>
<label class="radio-inline"><input type="radio" name="period" value="month">Month</label>
<label class="radio-inline"><input type="radio" name="period" value="year">Year</label>

<br /><br />

<div class="well responsive" id="table-content">
    @Html.Partial("_LatenessReportsPartial")
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/radios.js")
}
