x@model IEnumerable<PES.Models.Lateness>
@using PES.Models

<br /><br />
@using (Html.BeginForm("UploadLatenessExcel", "Lateness", FormMethod.Post, new { enctype = "multipart/form-data", id = "lateness" }))
{
    <table>
        <tr>
            <td>
                <label class="btn btn-default btn-file">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    SELECT FILE <input type="file" accept=".xls, .xlsx" name="UploadedFile" style="display: none;" onchange="FileSelected(this);">
                </label>
            </td>
            <td>
                @if (Model != null)
                {
                    <button type="button" class="btn btn-default" id="saveFile">
                        <span class="glyphicon glyphicon-floppy-disk"></span> SAVE
                    </button>
                }
            </td>
        </tr>
    </table>
  <hr>

}

<br />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                EMAIL
            </th>
            <th>
                DATE
            </th>
            <th>
                TIME
            </th>
        </tr>

        @foreach (var lateness in Model)
        {
            <tr>
                <td>
                    @lateness.EmployeeEmail
                </td>
                <td>
                    @lateness.Date.ToString("dddd, MMMM dd, yyyy", new System.Globalization.CultureInfo("en-US"))
                </td>
                <td>
                    @lateness.Time.ToString("hh:mm:ss tt")
                </td>
            </tr>
        }
    </table>
}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to save this file?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/latenessManager.js")
}
